button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

button:hover {
    background-color: var(--primary-color-hover);
    scale: 1.03;
}

.button--main {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.button--secondary {
    background-color: var(--primary-color-400);
    color: var(--primary-color-50);
    scale: 0.9;
}

.button--secondary:hover {
    background-color: var(--primary-color-600);
    color: var(--primary-color-50);
    scale: 0.9;
}

.tall__btn {
    margin-top: 0.5rem;
    padding: 1rem;
}

.tall__btn:hover {
    scale: 1;
}

.button--disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.full__btn {
    width: 100%;
}

.pill__btn {
    border-radius: 9999px;
    padding: 0.5rem 1.5rem;
}

#profilebutton {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.createShop__btn {
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

