.search {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    width: 100%;
    padding: 0;
    padding-left: 1rem;
    container-type: inline-size;
    container-name: search;
}

.search-bounds {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    min-width: 40px;
    min-height: 40px;
}

.search-bounds>input {
    border: none;
    outline: none;
    background-color: var(--secondary-color-lightest);
    color: var(--panel-color-dark);
    width: 100%;
    font-size: 1rem;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    transition: width 0.3s ease-in-out;
    outline: 1px solid hsl(0 0% 80% / 0.4);
}


@container search (max-width: 250px) {
    .search {
        padding-left: 0;
    }

    .search-bounds>input {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: right;
        width: 40px;
        height: 40px;
        border-radius: 9999px;
        caret-color: transparent;
        color: transparent;
        cursor: pointer;


    }

    .search-bounds:hover>input,
    .search-bounds>input:hover,
    .search-bounds>input:focus {
        --search-width: 100%;

        position: absolute;
        right: 0;
        width: var(--search-width);
        caret-color: var(--panel-color-dark);
        color: var(--panel-color-dark);
    }

    .search-bounds>input::placeholder {
        color: var(--secondary-color);
    }
}

.search-bounds>.search-icon {
    position: absolute;
    right:5%;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}