.product__details {
   --max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;

    container-type: inline-size;
    container-name: product__details__container;

    .product__images__container {
        overflow: hidden;
        position: relative;
        max-width: var(--max-width);
    }

    .product__images {
        --aspect-ratio: 5 / 6;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: var(--max-width);
        aspect-ratio: var(--aspect-ratio);
        overflow: scroll;
        border-radius: 0.5rem;
        scroll-snap-type: x mandatory;
        transition: all 0.3s ease;

        /* & .active-image {
        } */

        img {
            width: 100%;
            aspect-ratio: var(--aspect-ratio);
            object-fit: cover;
            scroll-snap-align: start;
            transition: all 0.3s ease;
        }

        &:hover {
            scale: 1.05;
        }
    }

    .product__info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 0.5rem;
    }

    .product__image__dots {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        border-radius: 1rem;
        background-color: var(--background-transparent-light);
        backdrop-filter: blur(10px);
        gap: 0.5rem;
        width: fit-content;
        height: fit-content;
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--primary-color);
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .dot:hover {
            background-color: var(--primary-color-700);
            scale: 1.2;
        }

        .dot.active {
            background-color: var(--primary-color-800);
            scale: 1.3;
        }
    }

    .product__name__container {
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .product__name {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text-color-darker);
    }

    .product__price {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-column: span 1;
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--text-color-darker);
        padding: 0 ;
    }

    .product__description {
        grid-column: span 4;
        font-size: 0.9rem;
        color: var(--text-color-dark);
    }

    .product__stock {
        grid-column: span 4;
        font-size: 1rem;
        color: var(--text-color-darker);
    }

    .product__category {
        grid-column: span 4;
        font-size: 1rem;
        color: var(--text-color-darker);
    }

    .product__shopName {
        grid-column: span 4;
        font-size: 0.85rem;
        color: var(--text-color);
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 0.1rem;
        font-weight: 700;
    }

    @container product__details__container (width > 500px) {
        & .product__images__container {
            max-width: 100%;

            .product__images {
                max-width: 100%;
                aspect-ratio: auto;

                img {
                    max-height: 550px;

                }
            }
        }
    }


}

.product__header {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    text-wrap: wrap;

    .header__link {
        --color: var(--primary-color);
        --color-hover: var(--primary-color-600);

        width: fit-content;
        cursor: pointer;
        display: inline-flex;
        gap: 0.3rem;
        color: var(--color);

        & svg {
            fill: var(--color);
            position: relative;
            top: 0.15rem;
        }

        &:hover {
            color: var(--color-hover);
            & svg {
                fill: var(--color-hover);
            }
        }
    }

    .slash {
        position: relative;
        color: #999;
        top: -0.15rem;

    }
}

