.product__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .product__images {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 500px;
        aspect-ratio: 6 / 5;
        overflow: scroll;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        scroll-snap-type: x mandatory;

    img {
        width: 100%;
        aspect-ratio: 6 / 5;
        object-fit: cover;
        scroll-snap-align: start;
    }
    }
}