.section {
    padding: 2rem 1rem 2rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    width: 95%;
    max-width: 1480px;
    transition: all 0.3s ease-in-out;

    & h3 {
        padding: 0rem 0 0.6rem 0;
    }
}

.section>.products {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}



.section .products::-webkit-scrollbar {
    display: none;
}

.section .products>* {
    flex-shrink: 0;
    scroll-snap-align: start;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 1rem;
}

.grid {
    width: 100%;
    gap: 0.5rem;
}


