.section {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    width: 95%;
    max-width: 1480px;
    transition: all 0.3s ease-in-out;

    & h3 {
        padding: 0rem 0 0.6rem 0;
        color: var(--text-color-dark);
        font-size: 1rem;
    }
}

.section>.products {
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}



.section .products::-webkit-scrollbar {
    display: none;
}

.section .products>* {
    flex-shrink: 0;
    scroll-snap-align: start;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(44%, 10rem), 1fr));
    grid-template-rows: 1fr auto auto;
    gap: 1rem;
}

.grid {
    width: 100%;
    gap: 0.5rem;
}


