@font-face {
  font-family: 'Agbalumo';
  src: url('./assets/fonts/Agbalumo/Agbalumo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Unicase';
  src: url('./assets/fonts/Cormorant_Unicase/CormorantUnicase-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Unicase';
  src: url('./assets/fonts/Cormorant_Unicase/CormorantUnicase-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Unicase';
  src: url('./assets/fonts/Cormorant_Unicase/CormorantUnicase-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Unicase';
  src: url('./assets/fonts/Cormorant_Unicase/CormorantUnicase-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Unicase';
  src: url('./assets/fonts/Cormorant_Unicase/CormorantUnicase-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --background-color: #E0E0E0;
  --background-color-lighter: #EDEDED;
  --panel-color-dark: #211F49;
  --panel-color-darker: #181736;
  --panel-color-dark-hover:#100f24;

  --primary-color: #7086e0;
  --primary-color-hover: #4360d6;
  --primary-color-active: #6c7dd6;


  --primary-color-50: #f0f5fd;
  --primary-color-100: #e4edfb;
  --primary-color-200: #cddef8;
  --primary-color-300: #afc7f2;
  --primary-color-400: #8fa7ea;
  --primary-color-500: #7086e0;
  --primary-color-600: #5867d3;
  --primary-color-700: #4955b9;
  --primary-color-800: #3d4796;
  --primary-color-900: #384177;
  --primary-color-950: #212545;


  --primary-color-active-hover: #6c7dd6;
  --secondary-color: #f2f2f2;
  --secondary-color-lighter: #fafafa;
  --secondary-color-lightest: hsl(200, 0%, 98%);

  --dark-color: #1e1e1e;
  --light-color: #F1F2F5;

  --rem:  clamp(12px, calc((3 / 70) * 100vw - (170 / 70) * 1px), 16px);
;
}

html {
  scroll-behavior: smooth;
  font-size: var(--rem);}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid; */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;

  &.panel-item {
    color: var(--secondary-color);
  }

  &.panel-item:hover {
    color: var(--secondary-color);
  }
}

a:hover {
  color: var(--primary-color-hover);
}



img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: var(--background-color);
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: var(--light-color);
  z-index: 100;
}

.sections {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.spinner {
  animation: spin 1s linear infinite;
}

.center__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation__clone {
  transition: all 0.3s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}