input {
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    margin: 0.5rem 0;
    border: 1px solid #555;
}

.tall {
    padding: 0.7rem;
}

.input__container {
    position: relative;
}

.input__container>.form__icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.message {
   font-size: small;
}

.error {
    background-color: #ffe6e6;
}

.error__message {
    color: red;
}

.success {
    background-color: #d9ffcc;
}

.success__message {
    color: green;
}

.warning {
    background-color: #fff6d9;
}

.loading {
    position: relative;
    background-color: #d9d9d9;
}

.warning__message {
    color: orange;
}

.hide {
    display: none;
}

textarea {
    resize: none;
}

.textarea__text {
    --text-height: 3lh;
    
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    margin: 0.5rem 0;
    border: 1px solid #555;
    height: var(--text-height);
}

.borderless__input {
    border: none;
    outline: 1px solid hsl(228 64% 68% / 0.2);
    border-radius: 4rem;
    padding-left: 1.5rem;
}

.borderless__input:focus {
    outline: 1px solid hsl(228 64% 68% / 0.7);
}

.borderless__input::placeholder {
    color: var(--panel-color-dark-transparent);
}

.borderless__input:disabled {
    background-color: #ebebeb;
}

.borderless__msg {
    padding-left: 1.3rem;
}