input {
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    margin: 0.5rem 0;
    border: 1px solid #555;
}

.tall {
    padding: 0.7rem;
}

.input__container {
    position: relative;
}

.input__container svg {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.message {
   font-size: small;
}

.error {
    background-color: #ffe6e6;
}

.error__message {
    color: red;
}

.success {
    background-color: #d9ffcc;
}

.success__message {
    color: green;
}

.warning {
    background-color: #fff6d9;
}

.warning__message {
    color: orange;
}

.hide {
    display: none;
}

